{% extends  "layout.html" %}
{% block content %}
<img src="static/Photos/music_icon1.png" width="95px" height="95px" class="border-bottom mb-4">
<h1 xmlns="http://www.w3.org/1999/html">About Page</h1>
    <p class="content-section">Through our website you will be able to get Top 25 Most viewed music of all time!
        All you need to do is to <b>  <a href="http://127.0.0.1:5000/register"> <FONT COLOR="#ff0000"> Register </FONT> </a>  </b> then choose  <b>  <FONT COLOR="#ff0000">   Music Genre </FONT> </b>  from HomePage!
    </p>

    <p> You can Choose from:
    </p>
    <p class="border-bottom rame mb-1" >
        1. <font color="red"> Rock </font> <p>
    <p class=" border-bottom rame mb-1">
        2. <font color="red"> Rap </font> <p>
    <p class=" border-bottom rame mb-1">
        3.  <font color="red"> Pop </font> <p>

{% endblock content %}
