{% extends  "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4"> <b> Choose one  to see 25 most viewed music of that genre.</b> </legend>

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <img src={{ post.image }} width="35px" height="40px">
            </div>
            <h2><a class="article-title" href="{{ post.title }}"> {{ post.title }} </a></h2>
          </div>


</article>

    {% endfor %}

{% endblock content %}